html{
  font-family: 'Open Sans', sans-serif;
}
body{
  display: flex;
}
header{
  background-color: #39CCCC;
  
}
nav{
  justify-content: center;
  flex-direction: column-reverse;
  text-align:center;
  
}

ul li{
  
}



li a{
}

h1{
  
}

aside{
  
}

form{
  
}

input[type="submit"]
{
  width: 4.5rem;
  display: block;

  
}

section{
  
}

footer{
  text-align:center;
  
}





  
